<!doctype html>
<html>
<head>
</head>
<body>

<h2>Add new phone numbers to look for</h2>
<form method="post" action="{{url_for('add_numbers')}}">
<table>
<tr>
 <td><label>phone number</label></td>
 <td><input type="text" name="number"></td>
<tr>
 <td><label>Network</label></td>
 <td><input type="text" name="network"></td>
</tr>
<tr>
 <td><input type="submit" value="add phone numbers"></td>
</tr>
</table>


</form>
<h2>Add new advertisements to analyze</h2>
<form method="post" action="{{url_for('add_data')}}">
<table>
 <tr>
  <td><label>List of Urls:</label></td>
 </tr>
<tr>
 <td><textarea name="url_list" rows="15" cols="50"></textarea></td>
</tr>
<tr>
<td><input type="radio" name="investigation_type" value="directed">Keyword Based</input><input type="radio" name="investigation_type" value="undirected">Machine Learned</input></td>
</tr>
<tr>
 <td><input type="submit"></input></td>
</tr>
</table>
</form>
</body>
</html>
