<!doctype html>
<html>
<head>
</head>
<body>
<a href="/static/img/joke.jpg"><img height="250px" width="auto" src="/static/img/alligator.jpg"></a>
<form method="post" action="{{url_for('investigator')}}">
<table >
  <tr>
   <td><label>Enter a place to scrape</label></td>
  </tr>
  <tr>   
   <td> <input type="text" name="place"></input></td>
  </tr>
  <tr>
   <td> <input type="submit" value="Start Scraping"></td>
  </tr>
 </table>
</form>

<form method="post" action="{{url_for('stop_investigation')}}">
<input type="submit" value="Stop Scraping"
</form>

<br />
<form method="post" action="{{url_for('run')}}">
 
 <label>Test out the scraper</label><br />
<input type="submit" value="test run">
</form>

<h3><a href="/add">Add some data</a></h3>
</body>
</html>
